#! Replace with your own corresponding values

# Django Superuser Admin

DJANGO_SUPERUSER_USERNAME = "django_superuser"
DJANGO_SUPERUSER_PASSWORD = "django_superuser_password"
DJANGO_SUPERUSER_EMAIL = ""
DJANGO_SECRET_KEY = "sample_secret_key"

# Cloudinary configuration

CLOUD_NAME = ""
CLOUD_API_KEY = ""
CLOUD_API_SECRET = ""

# PostgreSQL configuration

POSTGRES_DB = "postgres_db"
POSTGRES_PASSWORD = "postgres_password"
POSTGRES_HOST = "postgres_host"
POSTGRES_USER = "postgres_user"
PGUSER = "postgres_user"

# pgAdmin configuration

PGADMIN_DEFAULT_EMAIL = "admin@admin.com"
PGADMIN_DEFAULT_PASSWORD = "pgadmin_password"
