#! Replace <> with your own corresponding values

# Django Superuser Admin
DJANGO_SUPERUSER_USERNAME = <>
DJANGO_SUPERUSER_PASSWORD = <>
DJANGO_SUPERUSER_EMAIL = <>
DJANGO_SECRET_KEY = <>

# Cloudinary configuration
CLOUD_NAME = <>
CLOUD_API_KEY = <>
CLOUD_API_SECRET = <>

# PostgreSQL configuration
POSTGRES_DB = <>
POSTGRES_PASSWORD = <>
POSTGRES_HOST = <>
POSTGRES_USER = <>
PGUSER = <>

# pgAdmin configuration
PGADMIN_DEFAULT_EMAIL = <>
PGADMIN_DEFAULT_PASSWORD = <>